 .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(18, 146, 231) !important;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
} 

.left-child {
    padding:2rem;
}

.right-child {
    padding: 1rem 2rem 2rem 2rem;
    align-self: flex-end;
}

.middle-child {
    padding: 2rem;
    align-self: center;
}

.footer-protection {
    font-weight: bold;
}